include ../svgs/eye-close
include ../svgs/eye-open

mixin entry(id, label, placeholder, variant="default", type="text")
  label.entry
    label.label(for=id) #{label}
    
    label.input-wrapper
      input(type=type, id=id, placeholder=placeholder)
      
      if variant === 'password' 
        button.password-visibility-btn 
          +eyeClose
          +eyeOpen
    
    label#error-text.error-text(for=id)