mixin entry(id, label, placeholder, type="text")
  label.entry
    label.label(for=id) #{label}
    
    label.input-wrapper
      input.input(type=type, id=id, placeholder=placeholder, autocomplete="off")
      
      if type === 'password'
        button.eye-btn(type="button") 
          span.material-icons.eye-open visibility
          span.material-icons.eye-close visibility_off
    
    label.error-text(for=id)