mixin metadata({ title, description, keywords, author, pageURL, landingPage, faviconLight, faviconDark, openGraph, twitter })
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description", content=description)
  meta(name="keywords", content=keywords)

  link(rel="author", href=author)
  link(rel="canonical", href=pageURL)

  meta(property="og:type", content=openGraph.type)
  meta(property="og:site_name", content=openGraph.siteName)
  meta(property="og:title", content=openGraph.title)
  meta(property="og:description", content=openGraph.description)
  meta(property="og:url", content=openGraph.url)
  meta(property="og:image", content=openGraph.image)

  meta(property="og:see_also", content=landingPage)

  meta(itemprop="name", content=title)
  meta(itemprop="description", content=description)
  meta(itemprop="image", content=openGraph.image)

  meta(name="twitter:card", content=twitter.card)
  meta(name="twitter:title", content=twitter.title)
  meta(name="twitter:description", content=twitter.description)
  meta(name="twitter:image", content=twitter.image)
  meta(name="twitter:url", content=pageURL)

  link(
    rel="icon"
    type="image/png"
    media="(prefers-color-scheme: light)"
    href=faviconLight
  )
  link(
    rel="icon"
    type="image/png"
    media="(prefers-color-scheme: dark)"
    href=faviconDark
  )

  title #{title}
